$color-blue: #2972fe;
$color-blue-light: #6499ff;
$color-black: #000;
$color-white: #fff;
$color-bg-light: #f2f8fd;
$text-blue: #4786ff;
$text-darkblue: #272643;
$text-gray: #777;
$text-gray-light: #aeaeae;